.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

button {
  background-color: rgb(182,10,20);
  height: 38px;
  width: 100px;
  font-weight: bold;
  font-size: large;
}

button a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.form-client {
  display: flex;
  position: relative;
}

.results {
  margin-top: 50px;
}

.title-client {
  position: absolute;
  top: 30px;
}

.input-client {
  height: 30px;
  width: 300px;
}

.client-bet-info {
  position: absolute;
  top: 55%;
  width: 400px;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes  App-logo-spin {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(-10deg); }
  15% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

